@media (min-width: 767px) {
    .adventures-love__text-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
      width: 100%;
    max-width: 1170px;
    }
}
@media (min-width: 767px) {
    .travel-bonus-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 991px) {
    .travel-bonus-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
#adventures-love {
display: flex;
    flex-direction: column;
align-items: center;
}
.adventures-love__container {
    
    margin: 100px 0 100px 0;
    color: rgb(112, 112, 112);
    width: 100%;
    max-width: 1170px; 
}

.adventures-love__text-information {
    margin-left: 60px;
    line-height: 1.7rem;
}
.adventures-love__h2 {
    color: #3f3631;
    font-weight: 700;
    font-size: 2.6rem;
}
.adventures-love__subtext {
    margin-top: 15px;
    font-size: 1.1rem;
}

.the-most-beautiful-places__img img, 
.professional-photographers__img img, 
.full-support__img img {
    width: 95px;
    height: 95px;
}

.travel-bonus-container {
    margin-top: 50px ;
}
.travel-bonus-container h3 {
    color: #3f3631;
        font-weight: bold;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 20px;
}

.the-most-beautiful-places__lefts-part,
.professional-photographers__centrals-part,
.full-support__rights-part {
    margin-right: 10px;
}

.the-most-beautiful-places__lefts-part:hover, 
.professional-photographers__centrals-part:hover, 
.full-support__rights-part :hover {
    font-size: 2.0rem; 
}


    
    
