    @media (min-width: 767px) {
        .beautiful-places__text-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    
    .beautiful-places {
        margin-top: 5rem;
        width: 100%;
    }
    
    .beautiful-places__h2 {
        color: #3f3631;
        font-weight: 700;
        font-size: 2.6rem;
    }
    
    .beautiful-places {
        color: rgb(112, 112, 112);
    }
    
    .beautiful-places__text-information {
        line-height: 1.7rem;
    }
    
    .beautiful-places__text-container {
       width: 100%;
        max-width: 1170px;
    }
    
    .beautiful-places__subtext {
        margin-top: 15px;
        font-size: 1.1rem;
    }
    
    .beautiful-places__carousel h3 {
        color: #3f3631;
        font-weight: bold;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        margin-top: 25px;
    }
    
    .beautiful-places__carousel p {
        font-weight: 700;
        font-size: small;
        font-family: 'Roboto', sans-serif;
    }
    
    .beautiful-places__carousel span {
        color: #ff0000;
        font-weight: 700;
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;
    }
    
    .beautiful-places__carousel img {
        height: 310px;
        border-radius: 5px;
    }