.photocamera__background {
    background-image: url(../img/icon/photocamera.webp);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin: 0 0 100px 0;
    height: 650px;
}
.icon-play__img img {
    margin-top: 30px;
    width: 70px;
    height: 70px;
}

.text-at-start-video h2 {
    margin-top: 20px;
    font-weight: 800;
    color: rgb(255,255,255);
}
