
@media(min-width:767px){
    .question-block{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}
.question-block__h2{
    font-size: 40px;
    font-weight: 900;
    color:rgb(63, 54, 49);
    text-align:left;
    font-family: 'Roboto' sans-serif;
}
.question-block__faq{
color:rgb(136, 134, 146);
font-size: 18px;
font-weight: 400;
font-style: italic;
}
.red-point-h2{
    color:red;
}
.question-block{
    padding-left: 50px;
    padding-top: 90px;
    padding-bottom: 90px;
}
.question-block__tourist-image{
    width: 90%;
    border-radius: 20px;
}
.question-block__p{
    color: rgb(112, 112, 112);
    font-family:'Roboto';
    font-size:16px;
    font-weight: 400;
    text-align: left;
}
.question-block__text{
    margin-right: 10%;
}

.accordion-button{
    color: rgb(63, 54, 49);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto' sans-serif;
}
.accordion-body{
    color: rgb(112, 112, 112);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto' sans-serif;
}
