.question-block__h2{
    font-size: 34px;
    font-weight: 900;
    color:rgb(63, 54, 49)
}
.question-block__faq{
    color:rgb(136, 134, 146);
font-size: 18px;
font-weight: 400;
font-style: italic;
}
.red-point-h2{
    color:red;
}
.question-block{
    margin-top: 15%;
}
.question-block__tourist-image{
    width: 50%;
}
