@media (min-width: 767px) {
    .steps-to-book {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.checkmark-icon-service {
    width: 24px;
    height: 24px;
}

.steps-to-book {
    width: 100%;
    max-width: 1170px;
}

.steps-to-book__container {
    background-color: rgba(243, 41, 14, 0.801);
    color: rgb(255, 255, 255);
}

.services-list ul {
    list-style: none;
}

.steps-to-book__part-left,
.steps-to-book__part-right {
    margin: 100px 0 100px 0;
}

.steps-to-book__part-left {
    margin-right: 60px;
}

.steps-to-book__part-right {
    margin-left: 60px;
}

.organizing-tour__h2 {
    font-weight: 700;
    font-size: 2.6rem;
}

.steps-to-book__part-right h2 {
    font-weight: 700;
    font-size: 2.2rem;
}

.organizing-tour__subtext {
    margin-top: 15px;
    font-size: 1.1rem;
    margin-bottom: 35px;
}

.service-photograph,
.service-hotel,
.service-excursion,
.service-trasfer {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 0;
}

.services-list {
    margin: 20px 0 20px 0;
}

.services-list span {
    font-weight: 700;
    font-size: small;
}

.select-a-tour__h2,
.enjoy-your-journey__h2,
.dont-worry-about-content {
    margin-top: 30px;
}

.steps-to-book__container {
    display: flex;
    justify-content: center;
}