.testimonials__p{
    text-align: right;
}
.testimonials__cards-dave{
    border: solid;
}
.red-point__h2{
    color:red;
}
.testimonials__cards-dave-img{
    width: 180px;
}
.testimonials__cards-amanda-img{
    width: 180px;
}
.testimonials__cards-erica-img{
    width: 180px;
}
.testimonials__cards-amanda{
    border:solid;
}
.testimonials__cards-erica{
    border:solid;
}
