@media(min-width:767px){
    .testimonials{
        display:grid;
        grid-template-columns: 1 fr 1fr;
    }
}

#testimonials{
    background-image: url(../img/testimonials/background.webp);
    background-color:rgb(247, 247, 247);
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.testimonials__p{
    text-align: center;
}
.testimonials__cards-dave-article-h3{
    font-size: 23px;
    color: rgb(63, 54, 49);
    font-weight: 700;
}
.testimonials__cards-amanda-article-h3{
    
    font-size: 23px;
    color: rgb(63, 54, 49);
    font-weight: 700;
}
.testimonials__cards-erica-article-h3{
    font-size: 23px;
    color: rgb(63, 54, 49);
    font-weight: 700;
}
.testimonials__cards-dave{
    border: solid;
    text-align: center;
    border-inline-color: white;
    background-color: white;
    border-block-color: white;
    margin-top:50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.red-point__h2{
    color:rgb(255, 60, 66);
}
.testimonials__cards-dave-img{
    width: 180px;
    object-position: 50.832% 26.226%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    text-align: center;
    text-size-adjust: 100%;
    width: 70px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 70px;
    border-image-width: 1;
    object-fit: cover;
}
.testimonials__cards-amanda-img{
    width: 180px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    text-align: center;
    width: 70px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 70px;
    border-image-width: 1;
    object-fit: cover;
}
.testimonials__cards-erica-img{
    width: 180px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    text-align: center;
    width: 70px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 70px;
    border-image-width: 1;
    object-fit: cover;
}
.testimonials__cards-amanda{
    border:solid;
    border-inline-color: white;
    background-color: white;
    border-block-color: white;
    margin-top:50px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.testimonials__cards-erica{
    border:solid;
    border-inline-color: white;
    background-color: white;
    border-block-color: white;
    margin-top:50px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.testimonials{
    display:flex;
    flex-direction:column ;
    justify-content: space-between;
}
.testimonials__caption{
   
    font-size: 38px;
    font-weight: 900;
    color:rgb(63, 54, 49)
}
.testimonials__subtext{
    font-size: 18px;
   
    font-weight: 400;
    font-style: italic;
    color:rgb(136, 134, 146);
}
.testimonials__p{
    color:rgb(112, 112, 112);
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}
.testimonials__cards{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    margin-top: 150px;
    text-align: center;
}
.testimonials__cards-amanda-article-subtext{
    font-size: 14px;
    font-weight: 500;
    color:rgb(153, 134, 123);
}
.testimonials__cards-amanda-article-p{
    font-size: 16px;
    font-weight: 400;
    color:rgb(153, 134, 123);
}
.testimonials__cards-erica-article-p{
    font-size: 16px;
    font-weight: 400;
    color:rgb(153, 134, 123);
}
.testimonials__cards-erica-article-subtext{
    font-size: 14px;
    font-weight: 500;
    color:rgb(153, 134, 123);
}
.testimonials__cards-dave-article-subtext{
    font-size: 14px;
    font-weight: 500;
    color:rgb(153, 134, 123);
}
.testimonials__cards-dave-article-p{
    font-size: 16px;
    font-weight: 400;
    color:rgb(153, 134, 123);
}
.testimonials__cards-dave-icons{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
justify-content: space-between;
margin-left: 30px;
margin-right: 30px;
}
.button-testimonials{
    border:solid;
    border-color:rgb(255, 60, 66);
    border-radius: 15%;
    background-color: rgb(255, 60, 66);


}
.button-testimonials:hover{
    color:rgb(255, 60, 66);
    background-color:rgb(236, 22, 32);
    border-color: rgb(236, 22, 32);
    cursor: pointer;

}
.testimonials__cards-amanda-icons{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
justify-content: space-between;
margin-left: 30px;
margin-right: 30px;
}
.testimonials__cards-erica-icons{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
justify-content: space-between;
margin-left: 30px;
margin-right: 30px;
    
}